main{
  width:500%;
  hight:500%;
}

body{
  background:black;
}

.box{
  width:500px;
  hight:100px;
  padding:10%;
  border:1px solid black;
  margin:10%;
}

h1{
  text-align:center;
  color:lime;
}

header{
  color:lime;
}
